
html,
body {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  appearance: none;
  font-smoothing: antialiased;
}

body {
  font: 16px Verdana, Sans-Serif, Arial;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 800px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  text-align: justify;
}

button,
input[type="checkbox"] {
  outline: none;
}

.normal {
  background: #fff;
  margin: 20px 0 40px 0;
  position: relative;
}
